html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: .5em;
}

hr {
    margin: 2em 0;
}

button {
    background-color: lightblue;
    color: black;
    padding: 20px 40px;
    border: none;
    font-weight: bold;
}

dialog {
    inset: 50% 0;
    max-width: min(400px, 90vw);
    z-index: 400;
}


dialog.playing {
    inset: auto 20px 20px 20px;
    max-width: initial;
}
dialog.playing[open] {
    display: flex;
    align-items: center;
    gap: 1em;
}

dialog.playing canvas {
    height: 2em;
    width: 2em;
    min-width: 2em;
    border-radius: 100%;
    overflow: clip;
}

textarea {
    field-sizing: content;
    font-size: 2em;
    padding: 20px 60px;
}